body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ************************************   Custom Css   ******************************************** */

/* Containers */
.about, .homePage {
  width: 80vw;
  margin: 0 auto;
}

/* Loading icon */
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/**********************   NavBar styling   ***************************/
.navbar {
  /* width: 80vw; */
  padding: 5px 10%;
  margin: 0 auto 20px;
}
.my-page {
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
}
.searchBar {
  margin-left: 20px;
}

.nav-item {
  padding: 0 10px;
}

.innerNavigation {
  display: inline-block;
  margin: 20px 20px 0;
  cursor: pointer;
  text-decoration: underline;
}

.title {
  color: white;
  margin: 0 auto;
}

.searchButton {
  margin-left:-10px;
  margin-right: 10px
}

/*************************   Registry Page     ***********************/
.infoField {
  width: 70vw;
  height: 2.5em;
  margin-bottom: 25px;
}

#aboutField {
  height: 7.5em;
}



/*************************    Card styling    ************************/
.listName {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/ricepaper.png');
  width: 80vw;
  margin: 40px auto;
}

.listHeader {
  padding-top: 10px;
  /* text-decoration: underline; */
}

.card {
  background-color: bisque;
  width: 230px;
  height: 420px;
  margin: 20px;
  padding: 10px;
  display: inline-flex;
}

.card img {
  height: 150px;
  width: 180px;
  margin: auto
}

.progressBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #11BC0B;
  z-index: 5;
  opacity: 0.6;
}

.newCardForm, .newListForm {
  border: solid 2px black;
  padding: 15px;
}
.newCardForm input, .newListForm input {
  margin: 0 auto;
  width: 70%
}

.form-buttons {
  margin-left: 10px;
  margin-right: 10px;
}



/**************************   Company list for investors  *************************/

.companyNameList {
  /* padding: 30px; */
}

.companyName {
  text-align: left;
  border-bottom: 1px solid black;
  padding: 10px;
  display: block;
  width: 80vw;
  margin: 0 auto;
  background-color: beige;
}



/* *****************  Credit card form ******************* */
.ccForm {
  border: 2px solid black;
  margin: 15px auto;
  padding: 5px;
  max-width: 500px;
  text-align: left;
  /* display: block; */
}

.ccField {
  border: 1px solid grey;
  padding: 2px;
  margin: 5px 10px auto;
  display: block;
  width: 90%;
}

.ccSection {
  
}