body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ******************************************************************************************* */

.listName {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/ricepaper.png');
  width: 80vw;
  margin: 40px auto;
}

.card {
  background-color: bisque;
  width: 230px;
  height: 420px;
  margin: 20px;
  padding: 10px;
  display: inline-block;
}

.card img {
  height: 150px;
  width: 180px
}

.newCardForm {
  border: solid 2px black;
  padding: 15px;
}
.newCardForm input {
  margin: 0 auto;
  width: 70%
}